// Place all the styles related to the installationsetup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tblhead
{
margin-left: 18%;
}
.leftcusins
{
 margin-left: 3%;     
}
.rightcusins
{
margin-left: 3%;     
}
