// Place all the styles related to the productionencrpn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prdctnhead
{
margin-left: 18%;
margin-top:2%
}
.prdnleft
{
margin-left: 2%;
}
