// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
   .leftcusprofile {
  //   width: 30%;
    //  float: left;
      //text-align: left;
margin-left: 2%;
font-weight: bold;

    }
.profilehead
{
margin-left: 10%;
}
.profiletblhead
{
margin-top: 2%;
margin-left: 23%;
padding-bottom: 2%;
}
